/* Style for the laundry machine images */
.machine-img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border-radius: 30px;
    margin-left: 20%; /* add margin-left to move the images slightly towards the center */
  }

  .title {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
  }
  
  /* Style for the machine status and time */
  .machine-status {
    margin-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    clear: both;
    text-align: left;
    margin-right: 20%; /* add margin-left to move the text slightly towards the center */
  }
  
  .machine-time {
    float: right;
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 0%; /* add margin-right to move the time slightly towards the center */
  }
  
  /* Color changes for machine time based on remaining time */
  .machine-time.red {
    color: red;
  }
  
  .machine-time.orange {
    color: orange;
  }
  
  .machine-time.green {
    color: green;
  }  

  .machine-time.black {
    color: black;
  }  